@font-face {
    font-family: bebas;
    src: url(./fonts/BebasNeue-Regular.otf), url(./fonts/BebasNeue-Regular.ttf);
    font-weight: bold;
}

body {
    color: #43485b;
}

.quantity__minus,
.quantity__more,
.ingredient__weight,
.ingredient-detail-table {
    color: #7c86a8;
}

.header {
    background-color: #69cb91;
    padding: 30px;
    text-align: center;
    font-size: 25pt;
    font-family: "bebas";
}

.header-si {
    color: white;
}

.ingredients {
  max-width: 480px;
  margin: 1em auto;
  padding: 1em 1em 1em 2em;
  position: relative;
}

.ingredients-list {
    list-style-type: none;
    padding-inline-start: 0;
    padding-bottom: 60px;
}

.ingredients-list > .ingredient-item {
    margin: 40px 0px;
    display: flex;
}

.ingredient-item div.ingredient-cell {
    vertical-align: middle;
}

.ingredient__link {
  color: inherit;
  text-decoration: none;
  display: flex;
}

.ingredient__allergens {
    margin-right: 8px;
    width: 12px;
    display: flex;
    align-items: center;
}

.ingredient__gluten {
    width: 100%;
}

.ingredient__image {
    width: 50px;
    height: 50px;
    margin-right: 14px;
    border-radius: 10px;
}

.ingredient__name {
    font-weight: 500;
}

.ingredient__weight {
    font-size: 11pt;
    display: block;
    margin-top: 10px;
}

.ingredient-quantity {
    align-items: center;
    right: 40px;
    position: absolute;
    font-size: 20pt;
}

.quantity__more,
.quantity__minus {
    background: transparent;
    border: none;
    cursor: pointer;
}

.quantity__total{
    padding: 0 20px;
}

.ingridients-resume {
    left: 0;
    bottom: 0;
    padding: 30px 0;
    width: 100%;
    position: fixed;
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
}

.resume__link {
    color: #fff;
    background: #69cb91;
    padding: 10px 120px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14pt;
    text-decoration: none;
}

.ingredient-detail {
    display: flex;
    margin: 40px;
}

.ingredient-detail-table > p {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.ingredient__values {
    float: right;
}

div.ingredient-detail-table > p:nth-child(even) {
    background-color: #69cb9111;
}

.ingredient__detail__image {
    height: 200px;
    overflow: hidden;
    margin: 0;
}

.ingredient__detail__image > img {
    width: 100%;
    transform: translateY(-30%);
}

.header-detail {
    background-color: #69cb91;
    padding: 15px;
    text-align: center;
    font-size: 20pt;
    font-family: "bebas";
}

.header-detail-back-arrow {
    width: 1em;
    filter: opacity(75%);
    position: absolute;
    left: 10px;
}

.ingredient__detail__allergens {
    text-align: center;
    color: #ff7700;
}

.ingredient__detail__allergens img {
    width: 10px;
    margin-right: 10px;
}
